<div class="depot_form">
	<% if flash[:alert] %>
	<p id="notice"><%= flash[:alert] %></p>
	<% end %>

	<%= form_tag do %>
		<h2 class="header">Управление контентом</h2>
		<br>
		<div class="list-container z-depth-1">
			<div>
				<%= label_tag :name, 'Имя:' %>
				<%= text_field_tag :name, params[:name] %>
			</div>
			<div>
				<%= label_tag :password, 'Пароль:' %>
				<%= password_field_tag :password, params[:password] %>
			</div>
		</div>
		<div>
			<br>
	        <%= link_to 'Войти', '#', class: "btn btn-large red accent-2 waves-effect waves-light modal-trigger", onclick: "$('form').submit()" %>
	            
			<%= submit_tag nil, style: "display: none;" %>
			<br>
		</div>
	<% end %>
</div>