<h2 class="header">Панель управления</h2>

Имеется <%= pluralize @total_orders, "orders" %>

<br><br>

<h3 class="header">Доступ к ресурсам</h3>

<div class="collection">
	<%= link_to 'Заказы', orders_path, class: "waves-effect waves-light collection-item" %>
	<%= link_to 'Продукты', products_path, class: "waves-effect waves-light collection-item" %>
	<%= link_to 'Категории', categories_path, class: "waves-effect waves-light collection-item" %>
	<%= link_to 'Связь продуктов и категорий', category_products_path, class: "waves-effect waves-light collection-item" %>
	<%= link_to 'Администраторы', users_path, class: "waves-effect waves-light collection-item" %>
	<%= link_to 'Товарные позиции', line_items_path, class: "waves-effect waves-light collection-item" %>
	<%= link_to 'Корзины', carts_path, class: "waves-effect waves-light collection-item" %>
	<%= link_to 'Изображения', image_attachments_path, class: "waves-effect waves-light collection-item" %>
	<%= link_to 'Атрибуты продуктов', product_attributes_path, class: "waves-effect waves-light collection-item" %>
	<%= link_to 'Слайдер', slides_path, class: "waves-effect waves-light collection-item" %>
</div>