<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h4 class="header">Возникли проблемы со следующими полями:</h4>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="field col s12">
          <%= f.label "Город доставки" %>
          <%= f.text_field :address, class: "materialize-textarea" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="field col s12">
          <%= f.label :email %>
          <%= f.text_field :email, type: "email", class: "validate" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="field col s12">
          <%= f.label "Контактный телефон" %>
          <%= f.text_field :tel, type: "tel", class: "validate" %>
        </div>
      </div>
    </div>
  </div>

  <br>

  <%= link_to 'Создать заявку', '#', class: "btn btn-large red accent-2 waves-effect waves-light", onclick: "$('form').submit()" %>
  <%= f.submit nil, style: "display: none;" %>

  <br>
  <br>

<% end %>
