<p id="notice"><%= notice %></p>

<h4 class="header">Контактные данные пользователя</h4>
<br>
<!--p>
  <strong>ФИО:</strong>
  <%= @order.name %>
</p-->

<div class="list-container z-depth-1">

  <p>
    <strong>Создан:</strong>
    <%= l @order.created_at %>
  </p>

  <p>
    <strong>Адрес:</strong>
    <%= @order.address %>
  </p>

  <p>
    <strong>Указана почта:</strong>
    <%= @order.email %>
  </p>

  <p>
    <strong>Контактный телефон:</strong>
    <%= @order.tel %>
  </p>

  <p>
    <strong>Комментарии клиента:</strong>
    <textarea class="materialize-textarea">
      <%= @order.comments %>
    </textarea>
  </p>

  <p>
    <strong>Статус:</strong>
    <%= @order.status %>
  </p>
</div>

<!--p>
  <strong>Серия паспорта:</strong>
  <%= @order.series %>
</p>

<p>
  <strong>Номер паспорта:</strong>
  <%= @order.number %>
</p>

<p>
  <strong>Паспорт выдан:</strong>
  <%= @order.issue %>
</p-->

<br>
<br>
<h5 class="header"><%= @order.name || 'Клиент' %> заказал следующие товарные позиции</h5>
<br>
<table class="bordered" id="order-table">
	<thead>
		<tr>
			<th></th>
	    	<th data-field="title">Товарная позиция</th>
	    	<th data-field="quantity">Количество</th>
	    	<th data-field="price">Цена</th>
		</tr>
	</thead>
	<%= render partial: "line_items/line_item", collection: @order.line_items  %>
</table>
<br>
<br>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
