<%= form_for(@product_attribute) do |f| %>
  <% if @product_attribute.errors.any? %>
    <div id="error_explanation">
      <h4 class="header">Проблемы возникли со следующими полями:</h4>

      <ul>
      <% @product_attribute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <!--= f.text_field :product_id -->
    <%= f.select(:product_id, Product.all.collect {|n| [n.title, n.id] }, class: "form-control", id: "product_attributes_product", multiple: true) %>
  </div>

  <br><br>

  <%= link_to 'Submit', '#', class: "btn btn-large red accent-2 waves-effect waves-light", onclick: "$('form').submit()" %>
  <%= f.submit nil, style: "display: none;" %>

  <br><br>
  
<% end %>

<script type="text/javascript">
  $(document).on('ready page:load', function() {
    $('#product_attribute_product_id').select2({
      theme: "bootstrap"
    });
  });
</script>