<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<div class="slider">
  <ul class="slides">
    <li>
      <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>

<div class="row" style="margin-top: 50px;">
	<% @products.each do |product| %>
		<div class="col s12 m4">
		  <div class="card small hoverable card-image waves-effect waves-purple waves-block">
		  	<%= link_to store_show_path(product.id) do %>
			    <div class="card-image">
			      <!-- image_tag product.image_url -->
			      <!--div class="product-image" style="background-image: url('<%= product.image_url %>')"></div-->
            <div class="product-image" style="background-image: url('<%= product.image_attachments.first ? product.image_attachments.first.image_url(:thumb).to_s : '' %>')"></div>
			    </div>
		    <% end %>
		    <div class="card-action">
		      <%= link_to product.title, store_show_path(product.id) %>
		      <span class="price showcase"><%= number_to_currency(product.price, :precision => (product.price.round == product.price) ? 0 : 2) %></span>
		    </div>
		  </div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
  //  $(document).on('ready page:load', function() {
    if (!$('.slider').hasClass('initialized')){
		  $('.slider').slider();
    }
	});
</script>