<p id="notice"><%= notice %></p>

<% breadcrumb :store, @product %>

<div class="row" style="padding-top: 50px;">
  <div class="row">
    <div class="col l8 m8">
      <div class="col l12 m12">
        <div class="gallery slider">
          <% @product.image_attachments.each do |p| %>
              <%= image_tag p.image_url, class: "materialboxed hoverable", height: "400" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col l4 m4">
      <div class="card-panel white">
        <div style="padding: 0.4rem;">

          <%= form_for(@product, method: :post, remote: true, url: line_items_path(product_id: @product)) do |f| %>

            <ul>
              <li>
                <h5>
                  <%= @product.title %>
                </h5>
                <label>Артикул</label>
                </p>
              </li>
            </ul>

            <br>

            <label>Цена:</label>

            <div class="row">
              <h5 class="price col m7">
                <%= number_to_currency(@product.price, :precision => (@product.price.round == @product.price) ? 0 : 2) %>
              </h5>
              <div class="col m5 plus-wrapper valign-wrapper" id="plus-price">
                <span class="plus-price valign new badge"></span>
              </div>
            </div>

            <br>

            <% @group_products.each do |attribute, attributes| %>
              <div class="input-field col s12">
                <%= select_tag "#{attribute}", options_for_select(attributes.collect {|n| ["#{n.value}" + (n.price ? " (+#{number_to_currency(n.price, :precision => (n.price.round == n.price) ? 0 : 2)})" : ""), n.id]}), class: "js-plus-price" %>
                <label><%= attribute %>:</label>
              </div>
              <br>
            <% end %>

            <div class="input-field col s12" style="margin-bottom: 10px;">
              <%= select_tag :quantity, options_for_select((1..5).step(1).to_a.map{|s| [s, s]}) %>
              <label>Количество:</label>
            </div>

            <div class="center-align">
              <%= link_to 'Добавить в корзину', '#', class: "btn btn-large red accent-2 waves-effect waves-light modal-trigger", onclick: "$('form').submit()" %>
            </div>
            
            <%= f.submit nil, style: "display: none;" %>
            
          <% end %>

        </div>

      </div>
    </div>
  </div>

  <ul class="collection with-header" style="margin-top: 100px;">
    <li class="collection-header">
      <div class="section">
        <h5>Информация о товаре</h5>
      </div>
    </li>

    <li class="collection-item">
      <%= sanitize @product.description %>
    </li>
  </ul>
</div>

<%= render partial: 'modal' %>

<script type="text/javascript">
  //$(document).ready(function() {
    $(document).on('ready page:load', function() {
    
    $(".js-plus-price").change(function() {
      var str = 0, text;
      $(".js-plus-price option:selected").each(function() {
        if ((text = $(this).text()) && (text = /\(.*\)/g.exec(text))) {
          str += parseInt(/\d+/.exec(text[0].split(" ").join(""))[0], 10);
        }
      });
      $("#plus-price span").text('+' + str + ' <%= number_to_currency 0, :precision => 0 %>'.split('0').join(''));
    }).trigger("change");

    $('.modal-trigger').on('click', function(){
      //Materialize.toast('Добавлено в корзину!', 4000);
      $('#modal-decide-view').openModal();
    });

    if (!$('select').hasClass('initialized')){
      $('select').material_select();
    }
    if (!$('.gallery').hasClass('js-ready')){
      $('.gallery').thumbGallery();
    }
  });
</script>