<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Контактная информация</h5>
        <p class="grey-text text-lighten-4">
          <span class="fa fa-home"></span> Киров, Россия<br>
          <span class="fa fa-envelope-o"></span>
          <%= link_to ENV['_FIGARO_EMAIL'], "mailto:#{ ENV['_FIGARO_EMAIL'] }?subject=From footer", class: "white-text waves-effect waves-light" %><br>
          <span class="fa fa-vk"></span>
          <%= link_to 'группа вконтакте', ENV['_FIGARO_VK'], target: "_blank", class: "white-text waves-effect waves-light" %>
        </p>
      </div>
      <div class="col l2 s12">
        <h5 class="white-text">О покупке</h5>
        <%= link_to 'Оплата и доставка', payment_path, class: "white-text waves-effect waves-light" %>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Спорт-юниор</h5>
        <%= link_to 'О магазине', about_path, class: "white-text waves-effect waves-light" %><br>
        <%= link_to 'Отзывы', '//vk.com/topic-79619609_32215641', target: "_blank", class: "white-text waves-effect waves-light" %>
      </div>
      <div class="col l3 s12" style="overflow: hidden;">        
        <p class="grey-text text-lighten-4">Информация представленная на сайте не является технической документацией.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Спорт-юниор - интернет магазин детских спортивных комплексов.
    <a class="grey-text text-lighten-4 right" href="mailto:<%= ENV['_FIGARO_DEV_EMAIL'] %>">shohboz</a>
    </div>
  </div>
</footer>