 <nav>
  <div class="nav-wrapper container">
    <%= link_to 'Logo', store_path, class: "brand-logo left waves-effect waves-light" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    	<li>
        <%= link_to 'Оплата и доставка', payment_path, class: "waves-effect waves-light" %>
      </li>
    	<li>
        <%= link_to 'Контакты', contacts_path, class: "waves-effect waves-light" %>
      </li>
    	<li>
        <%= link_to @cart, class: "waves-effect waves-light"  do %>
          <i class="fa fa-shopping-cart"></i>
          <div id="cart-badge">
            <%= render partial: 'carts/badge', object: @cart %>
          </div>
        <% end %>
    	</li>
    </ul>
  </div>
</nav>