 <header>
  
   <nav>
    <div class="nav-wrapper container">
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="mdi-navigation-menu"></i>
      </a>
      <ul class="left search-box">
        <li>
          <%= form_tag store_search_path, method: :get, role: "search" do %>
            <div class="input-field">
              <%= text_field_tag :search, params[:search], autocomplete: "off", placeholder: " Поиск по сайту", class: "form-control" %>
              <label for="search"><i class="mdi-action-search"></i></label>
              <%= submit_tag "Search", name: nil, style: "display: none;" %>
            </div>
          <% end %>
        </li>
      </ul>
      <ul id="nav-mobile" class="right">
      	<li class="hide-on-med-and-down">
          <%= link_to 'Оплата и доставка', payment_path, class: "waves-effect waves-light" %>
        </li>
      	<li class="hide-on-med-and-down">
          <%= link_to 'Контакты', contacts_path, class: "waves-effect waves-light" %>
        </li>
      	<li>
          <%= link_to @cart, class: "waves-effect waves-light tooltipped", data: { position: "bottom", delay: "50", tooltip: "В корзину" }  do %>
            <i class="fa fa-shopping-cart"></i>
            <div id="cart-badge">
              <%= render partial: 'carts/badge', object: @cart %>
            </div>
          <% end %>
      	</li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <%= render "categories/index", object: @categories %>
      </ul>
    </div>
  </nav>
  <ul id="nav-mobile" class="side-nav fixed">
    <%= render "categories/index", object: @categories %>
  </ul>

</header>

<script type="text/javascript">
  $(".button-collapse").sideNav();
</script>