<!DOCTYPE html>
<html>
<head>
  <%= metamagic title: 'Спорт-юниор', description: 'Спорт-юниор - интернет-магазин детских спортивных комплексов, которые сделаны специально для детей.' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>
<%= render "layouts/main" %>
<%= render "layouts/footer" %>

</body>
</html>
